<a href="https://colab.research.google.com/github/kahuroA/SQL-PRACTICE/blob/main/Copy_of_SQL_Programming_Text%2C_Time_and_Date_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# 1. SQL Programming - Text, Time and Date Strings

## 1.0 Connecting to our Database

In [1]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

Datasets used in this notebook:


1.   **Main Lighting Energy Sources averaged to Districts in 2009**

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1XyZwH35bo99OZIAGHH8LMN48stLwyG-b/view?usp=sharing))

2.   **Kisumu County Energy and Mining Project Implementation Status** 

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1awhsX-tmd_RvM1PxPhhg21GTFuDn34ca/view?usp=sharing))

3. **Population by District**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1ZpbtJ-YAzfAtnQ4k-R_zpEbYRvP5lZhr/view?usp=sharing))

4. **Visitors to Kenya between 1991 to 2014**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1FJs1YU76tRyHEtHU6w62LYQlR8Jz_4d1/view?usp=sharing))

5. **Boston Marathon Results 2016**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1FKhXZemUZuwYSJydUDgukyqJt3ouvKGi/view?usp=sharing))

6. **Kenyan Government Appointments**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/19m7bydCYOyH8qb68S-Jn-dAX0TrjSHKh/view?usp=sharing))

7. **Tea Production**

>  ([Dataset Download Link](https://drive.google.com/open?id=1Nf3SfkLuxK8oWX2m_RAOILLrpY7pFDaF))

## 1.1 Loading our Datasets

In [2]:
# Importing Pandas
import pandas as pd

In [3]:
# Loading our lighting dataset  from the respective CSV file 
with open('./sample_data/lighting_dataset.csv','r') as f:
    LightingDataset = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS LightingDataset;
%sql PERSIST LightingDataset;
%sql SELECT * FROM LightingDataset LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('MERU CENTRAL', 'Urban', None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'EASTERN', 'Meru', 'Table 10b: Urban Households by main type of Lighting Fuel', 'Physical Infrastructure', 'Energy', 37.58330732, 0.001443681, '(0.001443681, 37.58330732)', 0),
 ('KAKAMEGA SOUTH', 'Urban', None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'WESTERN', 'Kakamega', 'Table 10a: Rural Households by main type of Lighting Fuel', 'Physical Infrastructure', 'Energy', 34.7077479, 0.190561619, '(0.190561619, 34.7077479)', 1),
 ('NYANDARUA NORTH', 'Urban', '6.3%', '0.6%', '51.6%', '32.1%', '0.8%', '0.4%', '7.9%', '0.2%', 52503, 3332, 302, 27102, 16865, 395, 214, 4173, 120, 'CENTRAL', 'Nyandarua', 'Table 10b: Urban Households by main type of Lighting Fuel', 'Physical Infrastructure', 'Energy', 36.42343108, -0.144560572, '(-0.144560572, 36.42343108)', 2),
 ('NYANDARUA SOUTH', 'Urban', '6%', '0.6%', '62.8%', '24.3%', '0.6%', '0.2%', '5.3%', '0.1%', 61936, 3741, 387, 38900, 15077, 384, 103, 3256, 88, 'CENTRAL', 'Nyandarua', 'Table 10b: Urban Households by main type of Lighting Fuel', 'Physical Infrastructure', 'Energy', 36.55651343, -0.533045224, '(-0.533045224, 36.55651343)', 3),
 ('NYERI NORTH', 'Urban', '14.5%', '1%', '41.4%', '34.3%', '0.6%', '0.8%', '7.2%', '0.2%', 81307, 11774, 775, 33686, 27884, 514, 651, 5868, 155, 'CENTRAL', 'Nyeri', 'Table 10b: Urban Households by main type of Lighting Fuel', 'Physical Infrastructure', 'Energy', 36.9811441, -0.266587082, '(-0.266587082, 36.9811441)', 4)]

In [4]:
# Loading our energy mining dataset from the respective CSV file 
with open('./sample_data/energy_mining_dataset.csv','r') as f:
  Energy_Mining=pd.read_csv(f,index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS Energy_Mining;
%sql PERSIST Energy_Mining;
%sql SELECT * FROM Energy_Mining LIMIT 3;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Kisumu', 'West Kisumu', 'Huma market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 0),
 ('Kisumu', 'North west ksm', 'Daraja Mbili market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100% Complete', 'May-31-2015', 1),
 ('Kisumu', 'West Seme', 'Akado market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 2)]

In [5]:
# Loading our population by districtdataset from the respective CSV file

with open('./sample_data/population_by_district.csv','r') as f:
  population_by_district=pd.read_csv(f,index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS population_by_district;
%sql PERSIST population_by_district;
%sql SELECT * FROM population_by_district LIMIT 3;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('NAIROBI WEST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI WEST, NAIROBI Kenya\n', None, 36.79920201, 0),
 ('NAIROBI EAST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI EAST, NAIROBI Kenya\n', None, 36.967484000000006, 1),
 ('NAIROBI NORTH', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI NORTH, NAIROBI Kenya\n', None, 36.8911257, 2)]

In [6]:
with open('./sample_data/visitors_to_kenya.csv','r') as f:
  visitors_to_kenya=pd.read_csv(f,index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS visitors_to_kenya;
%sql PERSIST visitors_to_kenya;
%sql SELECT * FROM visitors_to_kenya LIMIT 3;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Arrivals', '03/31/2005 12:00:00 AM', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '06/30/1991 12:00:00 AM', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1),
 ('Arrivals', '09/30/1991 12:00:00 AM', '1991', 215900, 'Visitors on Holiday', 'Q3', 'Actual', 2)]

In [7]:
# Loading our marathon dataset from the respective CSV file
#
with open('./sample_data/marathon_results_2016 (1).csv','r') as f:
  marathon_results_2016=pd.read_csv(f,index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS marathon_results_2016;
%sql PERSIST marathon_results_2016;
%sql SELECT * FROM marathon_results_2016 LIMIT 3;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('5', 'Hayle, Lemi Berhanu', 21, 'M', 'Addis Ababa', None, 'ETH', None, None, '0:15:47', '0:31:20', '0:47:07', '1:03:14', '1:06:45', '1:19:15', '1:34:17', '1:50:24', '2:05:59', '0:05:04', '2:12:45', '2:12:45', 1, 1, 1),
 ('1', 'Desisa, Lelisa', 26, 'M', 'Ambo', None, 'ETH', None, None, '0:15:47', '0:31:21', '0:47:08', '1:03:14', '1:06:46', '1:19:15', '1:34:17', '1:50:24', '2:05:59', '0:05:06', '2:13:32', '2:13:32', 2, 2, 2),
 ('6', 'Tsegay, Yemane Adhane', 31, 'M', 'Addis Ababa', None, 'ETH', None, None, '0:15:46', '0:31:20', '0:47:07', '1:03:13', '1:06:44', '1:19:15', '1:34:45', '1:50:48', '2:06:47', '0:05:07', '2:14:02', '2:14:02', 3, 3, 3)]

In [8]:
# Loading our Kenyan government appointments dataset below
#
with open('./sample_data/government_appointments.csv','r') as f:
  government_appointments=pd.read_csv(f,index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS government_appointments;
%sql PERSIST government_appointments;
%sql SELECT * FROM government_appointments LIMIT 3;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(2827, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Gershom Otachi', 'Chairperson', '04/17/2015 12:00:00 AM', '05/20/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Geothermal Development Company', 36.0, 'Appointed ', 'm', None, None, 0),
 (2828, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Sammy Choge', 'Chairperson', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Chemelil Sugar Company', 36.0, 'Appointed ', 'm', None, None, 1),
 (2829, '01/01/2015 12:00:00 AM', 'Agricultural Development Corporation Act', 444.0, 'Musa Sirma', 'Member of the Board', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Agricultural Development Corporation', 36.0, 'Appointed ', 'm', None, None, 2)]

In [9]:
# Loading our Tea dataset below
#
with open('./sample_data/tea_production.csv','r') as f:
  tea_production=pd.read_csv(f,index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS tea_production;
%sql PERSIST tea_production;
%sql SELECT * FROM tea_production LIMIT 3;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Production', 32.8, '01/25/2003 12:00:00 AM', 0),
 ('Production', 23.6, '02/25/2003 12:00:00 AM', 1),
 ('Production', 15.0, '03/25/2003 12:00:00 AM', 2)]

## 1.2 Text Strings

In [10]:
# Example 1
# Using the EnergyMining dataset, we can concatenate (combine) 
# the Ward and County columns (i.e attributes)
# into a new column Region. Then only select 5 of those regions
#
%%sql  
SELECT *, WARD || ', ' || COUNTY AS Region
FROM Energy_Mining LIMIT 5;

 * sqlite://
Done.

[('Kisumu', 'West Kisumu', 'Huma market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 0, 'West Kisumu, Kisumu'),
 ('Kisumu', 'North west ksm', 'Daraja Mbili market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100% Complete', 'May-31-2015', 1, 'North west ksm, Kisumu'),
 ('Kisumu', 'West Seme', 'Akado market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 2, 'West Seme, Kisumu'),
 ('Kisumu', 'Kobura', 'Korowe market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 3, 'Kobura, Kisumu'),
 ('Kisumu', 'Kobura', 'Rabour market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 4, 'Kobura, Kisumu')]

In [11]:
# Example 2
# Using the main lighting dataset, we can also replace the null cells with 0
# as shown below
# 
%%sql 
SELECT PROJECT_NAME, REPLACE("STATUS", '100 % Complete', '100%') AS "Project Status" 
FROM Energy_Mining;

 * sqlite://
Done.

[('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100% Complete'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & Testing of pumps motor and array of solar panels ', '80% Complete'),
 ('Installation of Service line', '100%'),
 ('Installation of Service line', '100%'),
 ('Installation of Service line', '100%'),
 ('Installation of Service line', '100%'),
 ('Installation of Service line', '100%'),
 ('Mining Inventory/GIS mapping', '100%'),
 ('Construction of 20m High mast flood lights', '100% awaiting Power Connection'),
 ('Construction of 20m High mast flood lights', '100% awaiting Power Connection'),
 ('Construction of 20m High mast flood lights', '100% awaiting Power Connection'),
 ('Construction of 20m High mast flood lights', '100% awaiting Power Connection'),
 ('Construction of 20m High mast flood lights', '100% awaiting Power Connection'),
 ('Construction of 15m High mast flood lights', '100%'),
 ('Construction of 15m High mast flood lights', '100%'),
 ('Construction of 15m High mast flood lights', '100%'),
 ('Construction of 15m High mast flood lights', '100%'),
 ('Construction of 15m High mast flood lights', '100%'),
 ('Construction of 15m High mast flood lights', '100%'),
 ('Construction of 15m High mast flood lights', '100% under defect liability period'),
 ('Construction of 15m High mast flood lights', '100% under defect liability period'),
 ('Construction of 15m High mast flood lights', '100% under defect liability period'),
 ('Construction of 15m High mast flood lights', '100% awaiting Power Connection'),
 ('Construction of 15m High mast flood lights', '100% awaiting Power Connection'),
 ('Installation of Service line', '100%'),
 ('Installation of Service line', '100%'),
 ('Supply of solar lanterns (800 No.) Operation Nyangile Out', 'Distribution on going in all the Sub-County'),
 ('Supply of solar lanterns (210 No.) Operation Nyangile Out', 'Distribution on going in all the Sub-County'),
 ('Supply of solar lanterns (350 No.) Operation Nyangile Out', 'Delivered awaiting distribution'),
 ('County Energy Master Plan', 'On-going 40% Complete'),
 ('County Energy Auditing ', '100%'),
 ('Preparation of a County Energy & Mining Strategic Plan.', '100%'),
 ('Supply, training and delivery of Brick making machines', '100%'),
 ('Supply, training and delivery of Brick making machines', '100%'),
 ('Supply, training and delivery of Brick making machines', '100%'),
 ('Supply, training and delivery of Brick making machines', '100%'),
 ('Supply, training and delivery of Brick making machines', '100%'),
 ('Supply, training and delivery of Brick making machines', '100%'),
 ('Development of brick making centres ', '100%'),
 ('Development of brick making centres ', '100%'),
 ('Development of brick making centres ', '100%')]

In [12]:
%%sql
SELECT * FROM Energy_Mining LIMIT 3;

 * sqlite://
Done.

[('Kisumu', 'West Kisumu', 'Huma market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 0),
 ('Kisumu', 'North west ksm', 'Daraja Mbili market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100% Complete', 'May-31-2015', 1),
 ('Kisumu', 'West Seme', 'Akado market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 2)]

In [13]:
# Example 3
# Using the Population by District dataset, we change values of County column to lowercase 
# as shown below
#
%%sql
SELECT *, LOWER(County) AS "County Name"
FROM population_by_district LIMIT 5;

 * sqlite://
Done.

[('NAIROBI WEST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI WEST, NAIROBI Kenya\n', None, 36.79920201, 0, 'nairobi'),
 ('NAIROBI EAST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI EAST, NAIROBI Kenya\n', None, 36.967484000000006, 1, 'nairobi'),
 ('NAIROBI NORTH', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI NORTH, NAIROBI Kenya\n', None, 36.8911257, 2, 'nairobi'),
 ('WESTLANDS', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'WESTLANDS, NAIROBI Kenya\n', None, 36.7882561, 3, 'nairobi'),
 ('NYANDARUA NORTH', 'Rural', 106111, 109785, 215896, 52503, 1394.69, 37.64, 109861.0821, 1.034624, 'CENTRAL', 'NYANDARUA NORTH, CENTRAL Kenya\n', None, 36.42343108, 4, 'central')]

### <font color="green">1.2 Challenges</font>

In [14]:
# Challenge 1
# Using the Governments appointments dataset, 
# in gender field, let's replace m = 1 and f = 0
# 
%%sql
SELECT * ,replace(replace(Gender, 'm', 1), 'f', 0) AS Gender_num
FROM government_appointments LIMIT 3;

 * sqlite://
Done.

[(2827, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Gershom Otachi', 'Chairperson', '04/17/2015 12:00:00 AM', '05/20/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Geothermal Development Company', 36.0, 'Appointed ', 'm', None, None, 0, '1'),
 (2828, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Sammy Choge', 'Chairperson', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Chemelil Sugar Company', 36.0, 'Appointed ', 'm', None, None, 1, '1'),
 (2829, '01/01/2015 12:00:00 AM', 'Agricultural Development Corporation Act', 444.0, 'Musa Sirma', 'Member of the Board', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Agricultural Development Corporation', 36.0, 'Appointed ', 'm', None, None, 2, '1')]

In [15]:
# Challenge 2
# Using the Governments appointments dataset, 
# Let's merge the person appointing field with the appointers position field
#
%%sql
SELECT *,  Person_Appointing_ || '/ ' || Apointers_Position AS Apointer_details
FROM government_appointments LIMIT 2;

 * sqlite://
Done.

[(2827, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Gershom Otachi', 'Chairperson', '04/17/2015 12:00:00 AM', '05/20/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Geothermal Development Company', 36.0, 'Appointed ', 'm', None, None, 0, 'Uhuru Kenyatta/ President'),
 (2828, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Sammy Choge', 'Chairperson', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Chemelil Sugar Company', 36.0, 'Appointed ', 'm', None, None, 1, 'Uhuru Kenyatta/ President')]

In [16]:
# Challenge 3
# Using the Population by District dataset, 
# let's change the values of the District column to lowercase 
# and display these values in a new column 
# 
%%sql
SELECT *, LOWER(District) AS district_name
FROM population_by_district LIMIT 5;

 * sqlite://
Done.

[('NAIROBI WEST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI WEST, NAIROBI Kenya\n', None, 36.79920201, 0, 'nairobi west'),
 ('NAIROBI EAST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI EAST, NAIROBI Kenya\n', None, 36.967484000000006, 1, 'nairobi east'),
 ('NAIROBI NORTH', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI NORTH, NAIROBI Kenya\n', None, 36.8911257, 2, 'nairobi north'),
 ('WESTLANDS', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'WESTLANDS, NAIROBI Kenya\n', None, 36.7882561, 3, 'westlands'),
 ('NYANDARUA NORTH', 'Rural', 106111, 109785, 215896, 52503, 1394.69, 37.64, 109861.0821, 1.034624, 'CENTRAL', 'NYANDARUA NORTH, CENTRAL Kenya\n', None, 36.42343108, 4, 'nyandarua north')]

## 1.3 Time Strings

In [17]:
# Example 1
# You can work with time data just like any other kind of data type 
# when it is in the time format; HH:MM:SS
# Let's answer some questions to see how this works
# Question: Which athletes took time between 15.30 and 15.59 to pass the 5K mark?
# NB: We order the results
#
%%sql 
SELECT Name, "5K" FROM marathon_results_2016 
WHERE "5K" > '0:15:30' and "5K" < '0:15:59' ORDER BY "5K" ASC;

 * sqlite://
Done.

[('Tsegay, Yemane Adhane', '0:15:46'),
 ('Korir, Wesley', '0:15:46'),
 ('Lonyangata, Paul', '0:15:46'),
 ('Kitwara, Sammy', '0:15:46'),
 ('Feleke, Getu', '0:15:46'),
 ('Mekonnen, Tsegaye', '0:15:46'),
 ('Kiprop, Jackson', '0:15:46'),
 ('Da Silva, Solonei', '0:15:46'),
 ('Hayle, Lemi Berhanu', '0:15:47'),
 ('Desisa, Lelisa', '0:15:47'),
 ('Chebogut, Stephen', '0:15:47'),
 ('Nageeye, Abdi', '0:15:47'),
 ('Nyasango, Cutbert', '0:15:47'),
 ('Kamijo, Norio', '0:15:47'),
 ('Kipyego, Michael', '0:15:47'),
 ('Sanabria, Alvaro', '0:15:51'),
 ('Okuti, Harbert', '0:15:53'),
 ('Burrell, Ian', '0:15:54'),
 ('Simpson, Jason M.', '0:15:54')]

In [18]:
# Example 2
# Finding the minimum amount of time taken to cover 15K by an athlete during the marathon. 
# Hint: We use a where clause to ignore null/blank values - we will learn how to 
# deal with such values later in the course
# 
%%sql
SELECT MIN("5K") 
FROM marathon_results_2016 
WHERE "5K" > 0;

 * sqlite://
Done.

[('0:15:46',)]

In [19]:
# Example 3
# What was the average time covered by all athletes past the 10K mark?
# 
%%sql
SELECT time(AVG("10K")) 
FROM marathon_results_2016 
WHERE "10K" > 0;

 * sqlite://
Done.

[('15:06:58',)]

### <font color="green">1.3 Challenges</font>

In [20]:
# Challenge 1
# What were the names and time of the athletes who finished the marathon before 2hrs 15min official time?
# NB: Order your names by time in ascending order
# 
%%sql
SELECT Name, "Official Time" FROM marathon_results_2016
WHERE "Official Time"<"2:15:00" AND "Official Time" !="10:30:23";

 * sqlite://
Done.

[('Hayle, Lemi Berhanu', '2:12:45'),
 ('Desisa, Lelisa', '2:13:32'),
 ('Tsegay, Yemane Adhane', '2:14:02'),
 ('Korir, Wesley', '2:14:05')]

In [21]:
# Challenge 2
# Which countries came top 3 in completing the marathon before 2hrs 15min?
#
%%sql
SELECT Country, "Official Time" FROM marathon_results_2016
WHERE "Official Time"<"2:15:00" AND "Official Time" !="10:30:23" LIMIT 3;

 * sqlite://
Done.

[('ETH', '2:12:45'), ('ETH', '2:13:32'), ('ETH', '2:14:02')]

In [22]:
# Challenge 3
# How many athletes ran 30K under 1hr 34min? Name these athletes.
# 
%%sql
SELECT COUNT(Name) FROM marathon_results_2016
WHERE "30K"<"1:34:00";

 * sqlite://
Done.

[(24,)]

## 1.4 Date Strings

In [23]:
# Example 1
# At times we would like to work with the data that is stored in the form of dates
# However, this kind of data can be really difficult to work with if it is not stored
# in datetime Data Type i.e. YYYY-MM-DD HH:MM:SS. It can even be misleading while 
# performing operations to our data. 
# Thus, when we get a dataset such as the one previewed below we will note that the datetime data 
# within the "Date_End_of_Quater" column is not in the datetime Data Type. 
# We will need to fix this;
# 
%sql SELECT * FROM  visitors_to_kenya LIMIT 5;

 * sqlite://
Done.

[('Arrivals', '03/31/2005 12:00:00 AM', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '06/30/1991 12:00:00 AM', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1),
 ('Arrivals', '09/30/1991 12:00:00 AM', '1991', 215900, 'Visitors on Holiday', 'Q3', 'Actual', 2),
 ('Arrivals', '12/31/1991 12:00:00 AM', '1991', 158400, 'Visitors on Holiday', 'Q4', 'Actual', 3),
 ('Arrivals', '03/31/1992 12:00:00 AM', '1992', 155400, 'Visitors on Holiday', 'Q1', 'Actual', 4)]

In [24]:
# Example 2
# In order to convert this kind of data to this format YYYY-MM-DD HH:MM:SS, 
# we would need to use the substring function. 
# An example of how the SQL substring function works is as shown in the SQL command
# in this cell;
# NB: Run this cell several times as you make changes to the numerial parameters 1, 6 
# and then observe the output after running this cell
#
%%sql
SELECT substr('SQL Tutorial', 5, 8) AS ExtractString;

 * sqlite://
Done.

[('Tutorial',)]

In [25]:
# Example 3
# Let's now select the "Date_End_of_Quater" data in the datetime data type format.
# We will apply the SQL substr function to the respective column
# then select the characters specifying our range then concatenating (combining)
# the selected substrings.
#  
%%sql
SELECT substr("Date_End_of_Quater", 7, 4) 
|| "-" || substr("Date_End_of_Quater", 1, 2) 
|| "-" || substr("Date_End_of_Quater", 4, 2) 
|| " " || substr("Date_End_of_Quater", 12,9)
AS New_Date_End_of_Quarter
FROM visitors_to_kenya Limit 5;

 * sqlite://
Done.

[('2005-03-31 12:00:00 ',),
 ('1991-06-30 12:00:00 ',),
 ('1991-09-30 12:00:00 ',),
 ('1991-12-31 12:00:00 ',),
 ('1992-03-31 12:00:00 ',)]

In [26]:
# Example 4
# Once we are certain that the selected data is in the datetime data type format,
# we can then update the table as shown; Remember we learnt how to update data 
# in our table last week? :) 
# This will allow us to start using that updated table for further investigation
# 
%%sql
UPDATE visitors_to_kenya 
set "Date_End_of_Quater" = substr("Date_End_of_Quater", 7, 4) 
|| "-" || substr("Date_End_of_Quater", 1, 2) 
|| "-" || substr("Date_End_of_Quater", 4, 2) 
|| " " || substr("Date_End_of_Quater", 12,9)

 * sqlite://
832 rows affected.

[]

In [27]:
# Example 5
# We can preview our dataset below so as to note the changes we have made to our 
# "Date_End_of_Quater" column which now looks super :) 
# 
%%sql
SELECT * 
FROM visitors_to_kenya Limit 5;

 * sqlite://
Done.

[('Arrivals', '2005-03-31 12:00:00 ', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '1991-06-30 12:00:00 ', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1),
 ('Arrivals', '1991-09-30 12:00:00 ', '1991', 215900, 'Visitors on Holiday', 'Q3', 'Actual', 2),
 ('Arrivals', '1991-12-31 12:00:00 ', '1991', 158400, 'Visitors on Holiday', 'Q4', 'Actual', 3),
 ('Arrivals', '1992-03-31 12:00:00 ', '1992', 155400, 'Visitors on Holiday', 'Q1', 'Actual', 4)]

In [28]:
# Example 6
# We now continue into investigating our dataset; We answer the following question;
# Which arrivals and depatures happened before 10th June, 1991?  
# Solution:
#
%%sql
SELECT * 
FROM visitors_to_kenya 
WHERE "Date_End_of_Quater" < '1991-06-10';

 * sqlite://
Done.

[('Arrivals', '1991-03-31 12:00:00 ', '1991', 149600, 'Visitors on Holiday', 'Q1', 'Actual', 52),
 ('Departures', '1991-03-31 12:00:00 ', '1991', 149300, 'Visitors on Holiday', 'Q1', 'Actual', 128),
 ('Arrivals', '1991-03-31 12:00:00 ', '1991', 17900, 'Visitors on Business', 'Q1', 'Actual', 260),
 ('Departures', '1991-03-31 12:00:00 ', '1991', 16400, 'Visitors on Business', 'Q1', 'Actual', 336),
 ('Arrivals', '1991-03-31 12:00:00 ', '1991', 7500, 'Visitors in Transit', 'Q1', 'Actual', 468),
 ('Departures', '1991-03-31 12:00:00 ', '1991', 11800, 'Visitors in Transit', 'Q1', 'Actual', 544),
 ('Arrivals', '1991-03-31 12:00:00 ', '1991', 1000, 'Other', 'Q1', 'Actual', 676),
 ('Departures', '1991-03-31 12:00:00 ', '1991', 1800, 'Other', 'Q1', 'Actual', 752)]

In [29]:
# Example 7
# Which arrivals and depatures happened after 30th June 2000?  
#
%%sql
SELECT * FROM visitors_to_kenya
WHERE "Date_End_of_Quater">"2000-06-30"

 * sqlite://
Done.

[('Arrivals', '2005-03-31 12:00:00 ', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '2000-06-30 12:00:00 ', '2000', 165500, 'Visitors on Holiday', 'Q2', 'Actual', 37),
 ('Arrivals', '2000-09-30 12:00:00 ', '2000', 211100, 'Visitors on Holiday', 'Q3', 'Actual', 38),
 ('Arrivals', '2000-12-31 12:00:00 ', '2000', 207100, 'Visitors on Holiday', 'Q4', 'Actual', 39),
 ('Arrivals', '2001-03-31 12:00:00 ', '2001', 200300, 'Visitors on Holiday', 'Q1', 'Actual', 40),
 ('Arrivals', '2001-06-30 12:00:00 ', '2001', 149600, 'Visitors on Holiday', 'Q2', 'Actual', 41),
 ('Arrivals', '2000-10-01 12:00:00 ', '2001', 184700, 'Visitors on Holiday', 'Q3', 'Actual', 42),
 ('Arrivals', '2001-12-31 12:00:00 ', '2001', 194200, 'Visitors on Holiday', 'Q4', 'Actual', 43),
 ('Arrivals', '2002-03-31 12:00:00 ', '2002', 176000, 'Visitors on Holiday', 'Q1', 'Actual', 44),
 ('Arrivals', '2002-06-30 12:00:00 ', '2002', 158500, 'Visitors on Holiday', 'Q2', 'Actual', 45),
 ('Arrivals', '2000-10-02 12:00:00 ', '2002', 194100, 'Visitors on Holiday', 'Q3', 'Actual', 46),
 ('Arrivals', '2002-12-31 12:00:00 ', '2002', 204000, 'Visitors on Holiday', 'Q4', 'Actual', 47),
 ('Arrivals', '2003-03-31 12:00:00 ', '2003', 206700, 'Visitors on Holiday', 'Q1', 'Actual', 48),
 ('Arrivals', '2003-06-30 12:00:00 ', '2003', 112500, 'Visitors on Holiday', 'Q2', 'Actual', 49),
 ('Arrivals', '2000-10-03 12:00:00 ', '2003', 183900, 'Visitors on Holiday', 'Q3', 'Actual', 50),
 ('Arrivals', '2003-12-31 12:00:00 ', '2003', 180900, 'Visitors on Holiday', 'Q4', 'Actual', 51),
 ('Arrivals', '2005-06-30 12:00:00 ', '2005', 213400, 'Visitors on Holiday', 'Q2', 'Actual', 53),
 ('Arrivals', '2000-10-05 12:00:00 ', '2005', 288600, 'Visitors on Holiday', 'Q3', 'Actual', 54),
 ('Arrivals', '2005-12-31 12:00:00 ', '2005', 2966000, 'Visitors on Holiday', 'Q4', 'Actual', 55),
 ('Arrivals', '2006-03-31 12:00:00 ', '2006', 2756000, 'Visitors on Holiday', 'Q1', 'Actual', 56),
 ('Arrivals', '2006-06-30 12:00:00 ', '2006', 219200, 'Visitors on Holiday', 'Q2', 'Actual', 57),
 ('Arrivals', '2000-10-06 12:00:00 ', '2006', 289200, 'Visitors on Holiday', 'Q3', 'Actual', 58),
 ('Arrivals', '2006-12-31 12:00:00 ', '2006', 303200, 'Visitors on Holiday', 'Q4', 'Actual', 59),
 ('Arrivals', '2007-03-31 12:00:00 ', '2007', 298400, 'Visitors on Holiday', 'Q1', 'Actual', 60),
 ('Arrivals', '2007-06-30 12:00:00 ', '2007', 263000, 'Visitors on Holiday', 'Q2', 'Actual', 61),
 ('Arrivals', '2000-10-07 12:00:00 ', '2007', 380600, 'Visitors on Holiday', 'Q3', 'Actual', 62),
 ('Arrivals', '2007-12-31 12:00:00 ', '2007', 336500, 'Visitors on Holiday', 'Q4', 'Actual', 63),
 ('Arrivals', '2008-03-31 12:00:00 ', '2008', 201600, 'Visitors on Holiday', 'Q1', 'Actual', 64),
 ('Arrivals', '2008-06-30 12:00:00 ', '2008', 205600, 'Visitors on Holiday', 'Q2', 'Actual', 65),
 ('Arrivals', '2000-10-08 12:00:00 ', '2008', 243700, 'Visitors on Holiday', 'Q3', 'Actual', 66),
 ('Arrivals', '2008-12-31 12:00:00 ', '2008', 285200, 'Visitors on Holiday', 'Q4', 'Actual', 67),
 ('Arrivals', '2009-03-31 12:00:00 ', '2009', 258700, 'Visitors on Holiday', 'Q1', 'Actual', 68),
 ('Arrivals', '2009-06-30 12:00:00 ', '2009', 217500, 'Visitors on Holiday', 'Q2', 'Actual', 69),
 ('Arrivals', '2000-10-09 12:00:00 ', '2009', 282000, 'Visitors on Holiday', 'Q3', 'Actual', 70),
 ('Arrivals', '2009-12-31 12:00:00 ', '2009', 306700, 'Visitors on Holiday', 'Q4', 'Actual', 71),
 ('Arrivals', '2010-03-31 12:00:00 ', '2010', 261200, 'Visitors on Holiday', 'Q1', 'Actual', 72),
 ('Arrivals', '2010-06-30 12:00:00 ', '2010', 228700, 'Visitors on Holiday', 'Q2', 'Actual', 73),
 ('Arrivals', '2010-09-30 12:00:00 ', '2010', 302600, 'Visitors on Holiday', 'Q3', 'Actual', 74),
 ('Arrivals', '2010-12-31 12:00:00 ', '2010', 308200, 'Visitors on Holiday', 'Q4', 'Actual', 75),
 ('Arrivals', '2011-03-31 12:00:00 ', '2011', 302800, 'Visitors on Holiday', 'Q1', 'Actual', 76),
 ('Arrivals', '2011-06-30 12:00:00 ', '2011', 235500, 'Visitors on Holiday', 'Q2', 'Actual', 77),
 ('Arrivals', '2011-09-30 12:00:00 ', '2011', 411900, 'Visitors on Holiday', 'Q3', 'Actual', 78),
 ('Arrivals', '2011-12-31 12:00:00 ', '2011', 369700, 'Visitors on Holiday', 'Q4', 'Actual', 79),
 ('Arrivals', '2012-03-31 12:00:00 ', '2012', 317000, 'Visitors on Holiday', 'Q1', 'Actual', 80),
 ('Arrivals', '2012-06-30 12:00:00 ', '2012', 240100, 'Visitors on Holiday', 'Q2', 'Actual', 81),
 ('Arrivals', '2012-09-30 12:00:00 ', '2012', 323600, 'Visitors on Holiday', 'Q3', 'Actual', 82),
 ('Arrivals', '2012-12-31 12:00:00 ', '2012', 338500, 'Visitors on Holiday', 'Q4', 'Actual', 83),
 ('Arrivals', '2013-03-31 12:00:00 ', '2013', 257600, 'Visitors on Holiday', 'Q1', 'Actual', 84),
 ('Arrivals', '2013-06-30 12:00:00 ', '2013', 222000, 'Visitors on Holiday', 'Q2', 'Actual', 85),
 ('Arrivals', '2013-09-30 12:00:00 ', '2013', 284200, 'Visitors on Holiday', 'Q3', 'Actual', 86),
 ('Arrivals', '2013-12-31 12:00:00 ', '2013', 340100, 'Visitors on Holiday', 'Q4', 'Actual', 87),
 ('Arrivals', '2004-03-31 12:00:00 ', "2004'", 209400, 'Visitors on Holiday', 'Q1', 'Preliminary ', 96),
 ('Arrivals', '2004-06-30 12:00:00 ', "2004'", 178500, 'Visitors on Holiday', 'Q2', 'Preliminary ', 97),
 ('Arrivals', '2000-10-04 12:00:00 ', "2004'", 239300, 'Visitors on Holiday', 'Q3', 'Preliminary ', 98),
 ('Arrivals', '2004-12-31 12:00:00 ', '2004*', 258400, 'Visitors on Holiday', 'Q4', 'Preliminary ', 99),
 ('Arrivals', '2009-03-31 12:00:00 ', '2009*', 248600, 'Visitors on Holiday', 'Q1', 'Preliminary ', 100),
 ('Arrivals', '2009-06-30 12:00:00 ', '2009*', 211600, 'Visitors on Holiday', 'Q2', 'Preliminary ', 101),
 ('Arrivals', '2000-10-09 12:00:00 ', '2009*', 294700, 'Visitors on Holiday', 'Q3', 'Preliminary ', 102),
 ('Arrivals', '2009-12-31 12:00:00 ', '2009*', 306300, 'Visitors on Holiday', 'Q4', 'Preliminary ', 103),
 ('Arrivals', '2014-03-31 12:00:00 ', '2014*', 266200, 'Visitors on Holiday', 'Q1', 'Preliminary ', 104),
 ('Arrivals', '2014-06-30 12:00:00 ', '2014*', 207000, 'Visitors on Holiday', 'Q2', 'Preliminary ', 105),
 ('Arrivals', '2014-09-30 12:00:00 ', '2014*', 267900, 'Visitors on Holiday', 'Q3', 'Preliminary ', 106),
 ('Arrivals', '2014-12-31 12:00:00 ', '2014*', 235700, 'Visitors on Holiday', 'Q4', 'Preliminary ', 107),
 ('Departures', '2000-12-31 12:00:00 ', '2000', 207100, 'Visitors on Holiday', 'Q4', 'Actual', 114),
 ('Departures', '2001-12-31 12:00:00 ', '2001', 194200, 'Visitors on Holiday', 'Q4', 'Actual', 115),
 ('Departures', '2002-12-31 12:00:00 ', '2002', 204000, 'Visitors on Holiday', 'Q4', 'Actual', 116),
 ('Departures', '2003-12-31 12:00:00 ', '2003', 180900, 'Visitors on Holiday', 'Q4', 'Actual', 117),
 ('Departures', '2004-12-31 12:00:00 ', '2004*', 258400, 'Visitors on Holiday', 'Q4', 'Preliminary ', 118),
 ('Departures', '2005-12-31 12:00:00 ', '2005', 267000, 'Visitors on Holiday', 'Q4', 'Actual', 119),
 ('Departures', '2006-12-31 12:00:00 ', '2006', 284900, 'Visitors on Holiday', 'Q4', 'Actual', 120),
 ('Departures', '2014-03-31 12:00:00 ', '2014*', 234600, 'Visitors on Holiday', 'Q1', 'Preliminary ', 121),
 ('Departures', '2007-12-31 12:00:00 ', '2007', 295000, 'Visitors on Holiday', 'Q4', 'Actual', 122),
 ('Departures', '2014-06-30 12:00:00 ', '2014*', 205600, 'Visitors on Holiday', 'Q2', 'Preliminary ', 123),
 ('Departures', '2008-12-31 12:00:00 ', '2008', 236600, 'Visitors on Holiday', 'Q4', 'Actual', 124),
 ('Departures', '2014-09-30 12:00:00 ', '2014*', 244900, 'Visitors on Holiday', 'Q3', 'Preliminary ', 125),
 ('Departures', '2009-12-31 12:00:00 ', '2009*', 306700, 'Visitors on Holiday', 'Q4', 'Preliminary ', 126),
 ('Departures', '2014-12-31 12:00:00 ', '2014*', 260300, 'Visitors on Holiday', 'Q4', 'Preliminary ', 127),
 ('Departures', '2001-03-31 12:00:00 ', '2001', 200300, 'Visitors on Holiday', 'Q1', 'Actual', 139),
 ('Departures', '2002-03-31 12:00:00 ', '2002', 176000, 'Visitors on Holiday', 'Q1', 'Actual', 140),
 ('Departures', '2003-03-31 12:00:00 ', '2003', 206700, 'Visitors on Holiday', 'Q1', 'Actual', 141),
 ('Departures', '2004-03-31 12:00:00 ', '2004*', 209400, 'Visitors on Holiday', 'Q1', 'Preliminary ', 142),
 ('Departures', '2005-03-31 12:00:00 ', '2005', 258900, 'Visitors on Holiday', 'Q1', 'Actual', 143),
 ('Departures', '2006-03-31 12:00:00 ', '2006', 285300, 'Visitors on Holiday', 'Q1', 'Actual', 144),
 ('Departures', '2007-03-31 12:00:00 ', '2007', 314200, 'Visitors on Holiday', 'Q1', 'Actual', 145),
 ('Departures', '2008-03-31 12:00:00 ', '2008', 210100, 'Visitors on Holiday', 'Q1', 'Actual', 146),
 ('Departures', '2009-03-31 12:00:00 ', '2009*', 258700, 'Visitors on Holiday', 'Q1', 'Preliminary ', 147),
 ('Departures', '2000-06-30 12:00:00 ', '2000', 165500, 'Visitors on Holiday', 'Q2', 'Actual', 158),
 ('Departures', '2001-06-30 12:00:00 ', '2001', 149600, 'Visitors on Holiday', 'Q2', 'Actual', 159),
 ('Departures', '2002-06-30 12:00:00 ', '2002', 158500, 'Visitors on Holiday', 'Q2', 'Actual', 160),
 ('Departures', '2003-06-30 12:00:00 ', '2003', 112500, 'Visitors on Holiday', 'Q2', 'Actual', 161),
 ('Departures', '2004-06-30 12:00:00 ', '2004*', 178500, 'Visitors on Holiday', 'Q2', 'Preliminary ', 162),
 ('Departures', '2005-06-30 12:00:00 ', '2005', 221900, 'Visitors on Holiday', 'Q2', 'Actual', 163),
 ('Departures', '2006-06-30 12:00:00 ', '2006', 232900, 'Visitors on Holiday', 'Q2', 'Actual', 164),
 ('Departures', '2007-06-30 12:00:00 ', '2007', 270200, 'Visitors on Holiday', 'Q2', 'Actual', 165),
 ('Departures', '2008-06-30 12:00:00 ', '2008', 193400, 'Visitors on Holiday', 'Q2', 'Actual', 166),
 ('Departures', '2009-06-30 12:00:00 ', '2009*', 217500, 'Visitors on Holiday', 'Q2', 'Preliminary ', 167),
 ('Departures', '2010-03-31 12:00:00 ', '2010', 265600, 'Visitors on Holiday', 'Q1', 'Actual', 173),
 ('Departures', '2010-06-30 12:00:00 ', '2010', 220200, 'Visitors on Holiday', 'Q2', 'Actual', 175),
 ('Departures', '2010-09-30 12:00:00 ', '2010', 290300, 'Visitors on Holiday', 'Q3', 'Actual', 177),
 ('Departures', '2010-12-31 12:00:00 ', '2010', 309000, 'Visitors on Holiday', 'Q4', 'Actual', 179),
 ('Departures', '2011-03-31 12:00:00 ', '2011', 277600, 'Visitors on Holiday', 'Q1', 'Actual', 181),
 ('Departures', '2011-06-30 12:00:00 ', '2011', 204900, 'Visitors on Holiday', 'Q2', 'Actual', 183),
 ('Departures', '2000-09-30 12:00:00 ', '2000', 211100, 'Visitors on Holiday', 'Q3', 'Actual', 184),
 ('Departures', '2011-09-30 12:00:00 ', '2011', 322800, 'Visitors on Holiday', 'Q3', 'Actual', 185),
 ('Departures', '2001-09-30 12:00:00 ', '2001', 184700, 'Visitors on Holiday', 'Q3', 'Actual', 186),
 ('Departures', '2011-12-31 12:00:00 ', '2011', 314200, 'Visitors on Holiday', 'Q4', 'Actual', 187),
 ('Departures', '2002-09-30 12:00:00 ', '2002', 194100, 'Visitors on Holiday', 'Q3', 'Actual', 188),
 ('Departures', '2012-03-31 12:00:00 ', '2012', 281700, 'Visitors on Holiday', 'Q1', 'Actual', 189),
 ('Departures', '2003-09-30 12:00:00 ', '2003', 183900, 'Visitors on Holiday', 'Q3', 'Actual', 190),
 ('Departures', '2012-06-30 12:00:00 ', '2012', 216000, 'Visitors on Holiday', 'Q2', 'Actual', 191),
 ('Departures', '2004-09-30 12:00:00 ', '2004*', 239300, 'Visitors on Holiday', 'Q3', 'Preliminary ', 192),
 ('Departures', '2012-09-30 12:00:00 ', '2012', 297600, 'Visitors on Holiday', 'Q3', 'Actual', 193),
 ('Departures', '2005-09-30 12:00:00 ', '2005', 279300, 'Visitors on Holiday', 'Q3', 'Actual', 194),
 ('Departures', '2012-12-31 12:00:00 ', '2012', 289400, 'Visitors on Holiday', 'Q4', 'Actual', 195),
 ('Departures', '2006-09-30 12:00:00 ', '2006', 274900, 'Visitors on Holiday', 'Q3', 'Actual', 196),
 ('Departures', '2013-03-31 12:00:00 ', '2013', 264000, 'Visitors on Holiday', 'Q1', 'Actual', 197),
 ('Departures', '2007-09-30 12:00:00 ', '2007', 352600, 'Visitors on Holiday', 'Q3', 'Actual', 198),
 ('Departures', '2013-06-30 12:00:00 ', '2013', 206800, 'Visitors on Holiday', 'Q2', 'Actual', 199),
 ('Departures', '2008-09-30 12:00:00 ', '2008', 251500, 'Visitors on Holiday', 'Q3', 'Actual', 200),
 ('Departures', '2013-09-30 12:00:00 ', '2013', 265700, 'Visitors on Holiday', 'Q3', 'Actual', 201),
 ('Departures', '2009-09-30 12:00:00 ', '2009*', 282000, 'Visitors on Holiday', 'Q3', 'Preliminary ', 202),
 ('Departures', '2013-12-31 12:00:00 ', '2013', 323300, 'Visitors on Holiday', 'Q4', 'Actual', 203),
 ('Arrivals', '2005-03-31 12:00:00 ', '2005', 516000, 'Visitors on Business', 'Q1', 'Actual', 208),
 ('Arrivals', '2000-06-30 12:00:00 ', '2000', 20900, 'Visitors on Business', 'Q2', 'Actual', 245),
 ('Arrivals', '2000-09-30 12:00:00 ', '2000', 26600, 'Visitors on Business', 'Q3', 'Actual', 246),
 ('Arrivals', '2000-12-31 12:00:00 ', '2000', 26200, 'Visitors on Business', 'Q4', 'Actual', 247),
 ('Arrivals', '2001-03-31 12:00:00 ', '2001', 25300, 'Visitors on Business', 'Q1', 'Actual', 248),
 ('Arrivals', '2001-06-30 12:00:00 ', '2001', 18900, 'Visitors on Business', 'Q2', 'Actual', 249),
 ('Arrivals', '2000-10-01 12:00:00 ', '2001', 23300, 'Visitors on Business', 'Q3', 'Actual', 250),
 ('Arrivals', '2001-12-31 12:00:00 ', '2001', 24600, 'Visitors on Business', 'Q4', 'Actual', 251),
 ('Arrivals', '2002-03-31 12:00:00 ', '2002', 26100, 'Visitors on Business', 'Q1', 'Actual', 252),
 ('Arrivals', '2002-06-30 12:00:00 ', '2002', 17100, 'Visitors on Business', 'Q2', 'Actual', 253),
 ('Arrivals', '2000-10-02 12:00:00 ', '2002', 20400, 'Visitors on Business', 'Q3', 'Actual', 254),
 ('Arrivals', '2002-12-31 12:00:00 ', '2002', 23000, 'Visitors on Business', 'Q4', 'Actual', 255),
 ('Arrivals', '2003-03-31 12:00:00 ', '2003', 34700, 'Visitors on Business', 'Q1', 'Actual', 256),
 ('Arrivals', '2003-06-30 12:00:00 ', '2003', 44700, 'Visitors on Business', 'Q2', 'Actual', 257),
 ('Arrivals', '2000-10-03 12:00:00 ', '2003', 53400, 'Visitors on Business', 'Q3', 'Actual', 258),
 ('Arrivals', '2003-12-31 12:00:00 ', '2003', 49300, 'Visitors on Business', 'Q4', 'Actual', 259),
 ('Arrivals', '2005-06-30 12:00:00 ', '2005', 41900, 'Visitors on Business', 'Q2', 'Actual', 261),
 ('Arrivals', '2000-10-05 12:00:00 ', '2005', 56600, 'Visitors on Business', 'Q3', 'Actual', 262),
 ('Arrivals', '2005-12-31 12:00:00 ', '2005', 556000, 'Visitors on Business', 'Q4', 'Actual', 263),
 ('Arrivals', '2006-03-31 12:00:00 ', '2006', 61700, 'Visitors on Business', 'Q1', 'Actual', 264),
 ('Arrivals', '2006-06-30 12:00:00 ', '2006', 456000, 'Visitors on Business', 'Q2', 'Actual', 265),
 ('Arrivals', '2000-10-06 12:00:00 ', '2006', 59400, 'Visitors on Business', 'Q3', 'Actual', 266),
 ('Arrivals', '2006-12-31 12:00:00 ', '2006', 59600, 'Visitors on Business', 'Q4', 'Actual', 267),
 ('Arrivals', '2007-03-31 12:00:00 ', '2007', 756000, 'Visitors on Business', 'Q1', 'Actual', 268),
 ('Arrivals', '2007-06-30 12:00:00 ', '2007', 51600, 'Visitors on Business', 'Q2', 'Actual', 269),
 ('Arrivals', '2000-10-07 12:00:00 ', '2007', 64700, 'Visitors on Business', 'Q3', 'Actual', 270),
 ('Arrivals', '2007-12-31 12:00:00 ', '2007', 50100, 'Visitors on Business', 'Q4', 'Actual', 271),
 ('Arrivals', '2008-03-31 12:00:00 ', '2008', 20400, 'Visitors on Business', 'Q1', 'Actual', 272),
 ('Arrivals', '2008-06-30 12:00:00 ', '2008', 18600, 'Visitors on Business', 'Q2', 'Actual', 273),
 ('Arrivals', '2000-10-08 12:00:00 ', '2008', 33100, 'Visitors on Business', 'Q3', 'Actual', 274),
 ('Arrivals', '2008-12-31 12:00:00 ', '2008', 37200, 'Visitors on Business', 'Q4', 'Actual', 275),
 ('Arrivals', '2009-03-31 12:00:00 ', '2009', 38000, 'Visitors on Business', 'Q1', 'Actual', 276),
 ('Arrivals', '2009-06-30 12:00:00 ', '2009', 44400, 'Visitors on Business', 'Q2', 'Actual', 277),
 ('Arrivals', '2000-10-09 12:00:00 ', '2009', 40100, 'Visitors on Business', 'Q3', 'Actual', 278),
 ('Arrivals', '2009-12-31 12:00:00 ', '2009', 46800, 'Visitors on Business', 'Q4', 'Actual', 279),
 ('Arrivals', '2010-03-31 12:00:00 ', '2010', 59700, 'Visitors on Business', 'Q1', 'Actual', 280),
 ('Arrivals', '2010-06-30 12:00:00 ', '2010', 48600, 'Visitors on Business', 'Q2', 'Actual', 281),
 ('Arrivals', '2010-09-30 12:00:00 ', '2010', 62000, 'Visitors on Business', 'Q3', 'Actual', 282),
 ('Arrivals', '2010-12-31 12:00:00 ', '2010', 58600, 'Visitors on Business', 'Q4', 'Actual', 283),
 ('Arrivals', '2011-03-31 12:00:00 ', '2011', 63600, 'Visitors on Business', 'Q1', 'Actual', 284),
 ('Arrivals', '2011-06-30 12:00:00 ', '2011', 56000, 'Visitors on Business', 'Q2', 'Actual', 285),
 ('Arrivals', '2011-09-30 12:00:00 ', '2011', 50100, 'Visitors on Business', 'Q3', 'Actual', 286),
 ('Arrivals', '2011-12-31 12:00:00 ', '2011', 62400, 'Visitors on Business', 'Q4', 'Actual', 287),
 ('Arrivals', '2012-03-31 12:00:00 ', '2012', 68400, 'Visitors on Business', 'Q1', 'Actual', 288),
 ('Arrivals', '2012-06-30 12:00:00 ', '2012', 58800, 'Visitors on Business', 'Q2', 'Actual', 289),
 ('Arrivals', '2012-09-30 12:00:00 ', '2012', 55700, 'Visitors on Business', 'Q3', 'Actual', 290),
 ('Arrivals', '2012-12-31 12:00:00 ', '2012', 53200, 'Visitors on Business', 'Q4', 'Actual', 291),
 ('Arrivals', '2013-03-31 12:00:00 ', '2013', 45900, 'Visitors on Business', 'Q1', 'Actual', 292),
 ('Arrivals', '2013-06-30 12:00:00 ', '2013', 47300, 'Visitors on Business', 'Q2', 'Actual', 293),
 ('Arrivals', '2013-09-30 12:00:00 ', '2013', 41700, 'Visitors on Business', 'Q3', 'Actual', 294),
 ('Arrivals', '2013-12-31 12:00:00 ', '2013', 55300, 'Visitors on Business', 'Q4', 'Actual', 295),
 ('Arrivals', '2004-03-31 12:00:00 ', "2004'", 51100, 'Visitors on Business', 'Q1', 'Preliminary ', 304),
 ('Arrivals', '2004-06-30 12:00:00 ', "2004'", 49300, 'Visitors on Business', 'Q2', 'Preliminary ', 305),
 ('Arrivals', '2000-10-04 12:00:00 ', "2004'", 70800, 'Visitors on Business', 'Q3', 'Preliminary ', 306),
 ('Arrivals', '2004-12-31 12:00:00 ', '2004*', 75200, 'Visitors on Business', 'Q4', 'Preliminary ', 307),
 ('Arrivals', '2009-03-31 12:00:00 ', '2009*', 44100, 'Visitors on Business', 'Q1', 'Preliminary ', 308),
 ('Arrivals', '2009-06-30 12:00:00 ', '2009*', 46400, 'Visitors on Business', 'Q2', 'Preliminary ', 309),
 ('Arrivals', '2000-10-09 12:00:00 ', '2009*', 46400, 'Visitors on Business', 'Q3', 'Preliminary ', 310),
 ('Arrivals', '2009-12-31 12:00:00 ', '2009*', 43600, 'Visitors on Business', 'Q4', 'Preliminary ', 311),
 ('Arrivals', '2014-03-31 12:00:00 ', '2014*', 50100, 'Visitors on Business', 'Q1', 'Preliminary ', 312),
 ('Arrivals', '2014-06-30 12:00:00 ', '2014*', 38500, 'Visitors on Business', 'Q2', 'Preliminary ', 313),
 ('Arrivals', '2014-09-30 12:00:00 ', '2014*', 43000, 'Visitors on Business', 'Q3', 'Preliminary ', 314),
 ('Arrivals', '2014-12-31 12:00:00 ', '2014*', 35300, 'Visitors on Business', 'Q4', 'Preliminary ', 315),
 ('Departures', '2000-12-31 12:00:00 ', '2000', 26200, 'Visitors on Business', 'Q4', 'Actual', 322),
 ('Departures', '2001-12-31 12:00:00 ', '2001', 24600, 'Visitors on Business', 'Q4', 'Actual', 323),
 ('Departures', '2002-12-31 12:00:00 ', '2002', 23000, 'Visitors on Business', 'Q4', 'Actual', 324),
 ('Departures', '2003-12-31 12:00:00 ', '2003', 49300, 'Visitors on Business', 'Q4', 'Actual', 325),
 ('Departures', '2004-12-31 12:00:00 ', '2004*', 75200, 'Visitors on Business', 'Q4', 'Preliminary ', 326),
 ('Departures', '2005-12-31 12:00:00 ', '2005', 52400, 'Visitors on Business', 'Q4', 'Actual', 327),
 ('Departures', '2006-12-31 12:00:00 ', '2006', 55000, 'Visitors on Business', 'Q4', 'Actual', 328),
 ('Departures', '2014-03-31 12:00:00 ', '2014*', 53600, 'Visitors on Business', 'Q1', 'Preliminary ', 329),
 ('Departures', '2007-12-31 12:00:00 ', '2007', 53900, 'Visitors on Business', 'Q4', 'Actual', 330),
 ('Departures', '2014-06-30 12:00:00 ', '2014*', 45600, 'Visitors on Business', 'Q2', 'Preliminary ', 331),
 ('Departures', '2008-12-31 12:00:00 ', '2008', 38100, 'Visitors on Business', 'Q4', 'Actual', 332),
 ('Departures', '2014-09-30 12:00:00 ', '2014*', 45700, 'Visitors on Business', 'Q3', 'Preliminary ', 333),
 ('Departures', '2009-12-31 12:00:00 ', '2009*', 46800, 'Visitors on Business', 'Q4', 'Preliminary ', 334),

### <font color="green">1.4 Challenges</font>

In [34]:
# Challenge
# Using the tea_production dataset, which three dates had tea production 
# before the date with the most tea production?
#
%%sql
UPDATE tea_production
SET Date= substr("Date", 7, 4) 
|| "-" || substr("Date", 1, 2) 
|| "-" || substr("Date", 4, 2) 
|| " " || substr("Date", 12,9)

 * sqlite://
407 rows affected.

[]

In [38]:
%%sql
SELECT *,MAX(Millions_in_KGS_) FROM tea_production;

 * sqlite://
Done.

[('Exports', 46.8, '2014-07-25 12:00:00 ', 288, 46.8)]

In [42]:
%%sql
SELECT Date FROM tea_production WHERE OBJECTID>=285 AND OBJECTID<288;

 * sqlite://
Done.

[('2014-04-25 12:00:00 ',),
 ('2014-05-25 12:00:00 ',),
 ('2014-06-25 12:00:00 ',)]