<a href="https://colab.research.google.com/github/kahuroA/SQL-PRACTICE/blob/main/SQL_MINI_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SQL MINI-PROJECT** *

In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [2]:
import pandas as pd
with open('GrandElectors_by_state.csv','r') as f:
  Grand_Electors=pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS Grand_Electors;
%sql PERSIST Grand_Electors;
%sql SELECT * FROM Grand_Electors LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [3]:
with open('Population_by_state.csv','r') as f:
  Population=pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE IF EXISTS Population;
%sql PERSIST Population;
%sql SELECT * FROM Population LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

In [4]:
%%sql
UPDATE Grand_Electors
SET State=UPPER(State);

 * sqlite://
51 rows affected.

[]

In [5]:
%%sql
CREATE TABLE Combined AS
SELECT * FROM Grand_Electors
INNER JOIN Population  on Population.State = Grand_Electors.State;

 * sqlite://
Done.

[]

In [6]:
%%sql
SELECT * FROM Combined

 * sqlite://
Done.

[('ALABAMA', 9, 'ALABAMA', 4858979),
 ('ALASKA', 3, 'ALASKA', 738432),
 ('ARIZONA', 11, 'ARIZONA', 6828065),
 ('ARKANSAS', 6, 'ARKANSAS', 2978204),
 ('CALIFORNIA', 55, 'CALIFORNIA', 39144818),
 ('COLORADO', 9, 'COLORADO', 5456574),
 ('CONNECTICUT', 7, 'CONNECTICUT', 3590886),
 ('DISTRICT OF COLUMBIA', 3, 'DISTRICT OF COLUMBIA', 672228),
 ('DELAWARE', 3, 'DELAWARE', 945934),
 ('FLORIDA', 29, 'FLORIDA', 20271272),
 ('GEORGIA', 16, 'GEORGIA', 10214860),
 ('HAWAII', 4, 'HAWAII', 1431603),
 ('IDAHO', 4, 'IDAHO', 1654930),
 ('ILLINOIS', 20, 'ILLINOIS', 12859995),
 ('INDIANA', 11, 'INDIANA', 6619680),
 ('IOWA', 6, 'IOWA', 3123899),
 ('KANSAS', 6, 'KANSAS', 2911641),
 ('KENTUCKY', 8, 'KENTUCKY', 4425092),
 ('LOUISIANA', 8, 'LOUISIANA', 4670724),
 ('MAINE', 4, 'MAINE', 1329328),
 ('MARYLAND', 10, 'MARYLAND', 6006401),
 ('MASSACHUSETTS', 11, 'MASSACHUSETTS', 6794422),
 ('MICHIGAN', 16, 'MICHIGAN', 9922576),
 ('MINNESOTA', 10, 'MINNESOTA', 5489594),
 ('MISSISSIPPI', 6, 'MISSISSIPPI', 2992333),
 ('MISSOURI', 10, 'MISSOURI', 6083672),
 ('MONTANA', 3, 'MONTANA', 1032949),
 ('NEBRASKA', 5, 'NEBRASKA', 1896190),
 ('NEVADA', 6, 'NEVADA', 2890845),
 ('NEW HAMPSHIRE', 4, 'NEW HAMPSHIRE', 1330608),
 ('NEW JERSEY', 14, 'NEW JERSEY', 8958013),
 ('NEW MEXICO', 5, 'NEW MEXICO', 2085109),
 ('NEW YORK', 29, 'NEW YORK', 19795791),
 ('NORTH CAROLINA', 15, 'NORTH CAROLINA', 10042802),
 ('NORTH DAKOTA', 3, 'NORTH DAKOTA', 756927),
 ('OHIO', 18, 'OHIO', 11613423),
 ('OKLAHOMA', 7, 'OKLAHOMA', 3911338),
 ('OREGON', 7, 'OREGON', 4028977),
 ('PENNSYLVANIA', 20, 'PENNSYLVANIA', 12802503),
 ('RHODE ISLAND', 4, 'RHODE ISLAND', 1056298),
 ('SOUTH CAROLINA', 9, 'SOUTH CAROLINA', 4896146),
 ('SOUTH DAKOTA', 3, 'SOUTH DAKOTA', 858469),
 ('TENNESSEE', 11, 'TENNESSEE', 6600299),
 ('TEXAS', 38, 'TEXAS', 27469114),
 ('UTAH', 6, 'UTAH', 2995919),
 ('VERMONT', 3, 'VERMONT', 626042),
 ('VIRGINIA', 13, 'VIRGINIA', 8382993),
 ('WASHINGTON', 12, 'WASHINGTON', 7170351),
 ('WEST VIRGINIA', 5, 'WEST VIRGINIA', 1844128),
 ('WISCONSIN', 10, 'WISCONSIN', 5771337),
 ('WYOMING', 3, 'WYOMING', 586107)]

In [7]:
%%sql
CREATE TABLE Combined_new (
  State  TEXT PRIMARY KEY,
  GrandElectors  int,
  Population  int
);
INSERT INTO Combined_new SELECT State, GrandElectors, Population FROM Combined;
DROP TABLE Combined;
ALTER TABLE Combined_new RENAME TO Combined;

 * sqlite://
Done.
51 rows affected.
Done.
Done.

[]

In [8]:
%%sql
SELECT * FROM Combined;

 * sqlite://
Done.

[('ALABAMA', 9, 4858979),
 ('ALASKA', 3, 738432),
 ('ARIZONA', 11, 6828065),
 ('ARKANSAS', 6, 2978204),
 ('CALIFORNIA', 55, 39144818),
 ('COLORADO', 9, 5456574),
 ('CONNECTICUT', 7, 3590886),
 ('DISTRICT OF COLUMBIA', 3, 672228),
 ('DELAWARE', 3, 945934),
 ('FLORIDA', 29, 20271272),
 ('GEORGIA', 16, 10214860),
 ('HAWAII', 4, 1431603),
 ('IDAHO', 4, 1654930),
 ('ILLINOIS', 20, 12859995),
 ('INDIANA', 11, 6619680),
 ('IOWA', 6, 3123899),
 ('KANSAS', 6, 2911641),
 ('KENTUCKY', 8, 4425092),
 ('LOUISIANA', 8, 4670724),
 ('MAINE', 4, 1329328),
 ('MARYLAND', 10, 6006401),
 ('MASSACHUSETTS', 11, 6794422),
 ('MICHIGAN', 16, 9922576),
 ('MINNESOTA', 10, 5489594),
 ('MISSISSIPPI', 6, 2992333),
 ('MISSOURI', 10, 6083672),
 ('MONTANA', 3, 1032949),
 ('NEBRASKA', 5, 1896190),
 ('NEVADA', 6, 2890845),
 ('NEW HAMPSHIRE', 4, 1330608),
 ('NEW JERSEY', 14, 8958013),
 ('NEW MEXICO', 5, 2085109),
 ('NEW YORK', 29, 19795791),
 ('NORTH CAROLINA', 15, 10042802),
 ('NORTH DAKOTA', 3, 756927),
 ('OHIO', 18, 11613423),
 ('OKLAHOMA', 7, 3911338),
 ('OREGON', 7, 4028977),
 ('PENNSYLVANIA', 20, 12802503),
 ('RHODE ISLAND', 4, 1056298),
 ('SOUTH CAROLINA', 9, 4896146),
 ('SOUTH DAKOTA', 3, 858469),
 ('TENNESSEE', 11, 6600299),
 ('TEXAS', 38, 27469114),
 ('UTAH', 6, 2995919),
 ('VERMONT', 3, 626042),
 ('VIRGINIA', 13, 8382993),
 ('WASHINGTON', 12, 7170351),
 ('WEST VIRGINIA', 5, 1844128),
 ('WISCONSIN', 10, 5771337),
 ('WYOMING', 3, 586107)]

In [9]:
%%sql
UPDATE Combined
SET State='DC'
WHERE State='DISTRICT OF COLUMBIA'

 * sqlite://
1 rows affected.

[]

In [10]:
%%sql
CREATE TABLE Combined_new AS
SELECT *, CAST(Combined.GrandElectors AS FLOAT)/CAST(Combined.Population AS FLOAT) AS Ratio
FROM   Combined;

 * sqlite://
Done.

[]

In [11]:
%%sql
SELECT * FROM Combined_new;

 * sqlite://
Done.

[('ALABAMA', 9, 4858979, 1.8522409749043987e-06),
 ('ALASKA', 3, 738432, 4.0626625065002604e-06),
 ('ARIZONA', 11, 6828065, 1.610998137832607e-06),
 ('ARKANSAS', 6, 2978204, 2.0146370094190997e-06),
 ('CALIFORNIA', 55, 39144818, 1.4050391037710278e-06),
 ('COLORADO', 9, 5456574, 1.6493865931260165e-06),
 ('CONNECTICUT', 7, 3590886, 1.949379623858847e-06),
 ('DC', 3, 672228, 4.462771559649405e-06),
 ('DELAWARE', 3, 945934, 3.1714686225466047e-06),
 ('FLORIDA', 29, 20271272, 1.4305959685213637e-06),
 ('GEORGIA', 16, 10214860, 1.566345500574653e-06),
 ('HAWAII', 4, 1431603, 2.794070702562093e-06),
 ('IDAHO', 4, 1654930, 2.417020659484087e-06),
 ('ILLINOIS', 20, 12859995, 1.5552105580134362e-06),
 ('INDIANA', 11, 6619680, 1.6617117443743504e-06),
 ('IOWA', 6, 3123899, 1.9206766928124116e-06),
 ('KANSAS', 6, 2911641, 2.0606936088618066e-06),
 ('KENTUCKY', 8, 4425092, 1.8078720171241637e-06),
 ('LOUISIANA', 8, 4670724, 1.712796560019389e-06),
 ('MAINE', 4, 1329328, 3.009039153617467e-06),
 ('MARYLAND', 10, 6006401, 1.6648905059785385e-06),
 ('MASSACHUSETTS', 11, 6794422, 1.6189750945702225e-06),
 ('MICHIGAN', 16, 9922576, 1.6124844999927438e-06),
 ('MINNESOTA', 10, 5489594, 1.8216283389992047e-06),
 ('MISSISSIPPI', 6, 2992333, 2.00512442966742e-06),
 ('MISSOURI', 10, 6083672, 1.6437441071773757e-06),
 ('MONTANA', 3, 1032949, 2.904306020916812e-06),
 ('NEBRASKA', 5, 1896190, 2.636866558730929e-06),
 ('NEVADA', 6, 2890845, 2.0755177119492743e-06),
 ('NEW HAMPSHIRE', 4, 1330608, 3.0061445594795764e-06),
 ('NEW JERSEY', 14, 8958013, 1.562846582160575e-06),
 ('NEW MEXICO', 5, 2085109, 2.3979561739937817e-06),
 ('NEW YORK', 29, 19795791, 1.4649578791774474e-06),
 ('NORTH CAROLINA', 15, 10042802, 1.4936070630487388e-06),
 ('NORTH DAKOTA', 3, 756927, 3.963394092164766e-06),
 ('OHIO', 18, 11613423, 1.5499306276883225e-06),
 ('OKLAHOMA', 7, 3911338, 1.7896689061390246e-06),
 ('OREGON', 7, 4028977, 1.7374137405103083e-06),
 ('PENNSYLVANIA', 20, 12802503, 1.562194517743913e-06),
 ('RHODE ISLAND', 4, 1056298, 3.7868101615263876e-06),
 ('SOUTH CAROLINA', 9, 4896146, 1.8381804790951905e-06),
 ('SOUTH DAKOTA', 3, 858469, 3.4945932817609025e-06),
 ('TENNESSEE', 11, 6600299, 1.6665911650366142e-06),
 ('TEXAS', 38, 27469114, 1.3833718845099992e-06),
 ('UTAH', 6, 2995919, 2.0027243727216926e-06),
 ('VERMONT', 3, 626042, 4.792010759661493e-06),
 ('VIRGINIA', 13, 8382993, 1.5507587803067473e-06),
 ('WASHINGTON', 12, 7170351, 1.673558240035948e-06),
 ('WEST VIRGINIA', 5, 1844128, 2.7113085425740512e-06),
 ('WISCONSIN', 10, 5771337, 1.7327007589402595e-06),
 ('WYOMING', 3, 586107, 5.118519314732634e-06)]

In [12]:
%%sql
SELECT * FROM Combined_new
ORDER BY Ratio ASC;

 * sqlite://
Done.

[('TEXAS', 38, 27469114, 1.3833718845099992e-06),
 ('CALIFORNIA', 55, 39144818, 1.4050391037710278e-06),
 ('FLORIDA', 29, 20271272, 1.4305959685213637e-06),
 ('NEW YORK', 29, 19795791, 1.4649578791774474e-06),
 ('NORTH CAROLINA', 15, 10042802, 1.4936070630487388e-06),
 ('OHIO', 18, 11613423, 1.5499306276883225e-06),
 ('VIRGINIA', 13, 8382993, 1.5507587803067473e-06),
 ('ILLINOIS', 20, 12859995, 1.5552105580134362e-06),
 ('PENNSYLVANIA', 20, 12802503, 1.562194517743913e-06),
 ('NEW JERSEY', 14, 8958013, 1.562846582160575e-06),
 ('GEORGIA', 16, 10214860, 1.566345500574653e-06),
 ('ARIZONA', 11, 6828065, 1.610998137832607e-06),
 ('MICHIGAN', 16, 9922576, 1.6124844999927438e-06),
 ('MASSACHUSETTS', 11, 6794422, 1.6189750945702225e-06),
 ('MISSOURI', 10, 6083672, 1.6437441071773757e-06),
 ('COLORADO', 9, 5456574, 1.6493865931260165e-06),
 ('INDIANA', 11, 6619680, 1.6617117443743504e-06),
 ('MARYLAND', 10, 6006401, 1.6648905059785385e-06),
 ('TENNESSEE', 11, 6600299, 1.6665911650366142e-06),
 ('WASHINGTON', 12, 7170351, 1.673558240035948e-06),
 ('LOUISIANA', 8, 4670724, 1.712796560019389e-06),
 ('WISCONSIN', 10, 5771337, 1.7327007589402595e-06),
 ('OREGON', 7, 4028977, 1.7374137405103083e-06),
 ('OKLAHOMA', 7, 3911338, 1.7896689061390246e-06),
 ('KENTUCKY', 8, 4425092, 1.8078720171241637e-06),
 ('MINNESOTA', 10, 5489594, 1.8216283389992047e-06),
 ('SOUTH CAROLINA', 9, 4896146, 1.8381804790951905e-06),
 ('ALABAMA', 9, 4858979, 1.8522409749043987e-06),
 ('IOWA', 6, 3123899, 1.9206766928124116e-06),
 ('CONNECTICUT', 7, 3590886, 1.949379623858847e-06),
 ('UTAH', 6, 2995919, 2.0027243727216926e-06),
 ('MISSISSIPPI', 6, 2992333, 2.00512442966742e-06),
 ('ARKANSAS', 6, 2978204, 2.0146370094190997e-06),
 ('KANSAS', 6, 2911641, 2.0606936088618066e-06),
 ('NEVADA', 6, 2890845, 2.0755177119492743e-06),
 ('NEW MEXICO', 5, 2085109, 2.3979561739937817e-06),
 ('IDAHO', 4, 1654930, 2.417020659484087e-06),
 ('NEBRASKA', 5, 1896190, 2.636866558730929e-06),
 ('WEST VIRGINIA', 5, 1844128, 2.7113085425740512e-06),
 ('HAWAII', 4, 1431603, 2.794070702562093e-06),
 ('MONTANA', 3, 1032949, 2.904306020916812e-06),
 ('NEW HAMPSHIRE', 4, 1330608, 3.0061445594795764e-06),
 ('MAINE', 4, 1329328, 3.009039153617467e-06),
 ('DELAWARE', 3, 945934, 3.1714686225466047e-06),
 ('SOUTH DAKOTA', 3, 858469, 3.4945932817609025e-06),
 ('RHODE ISLAND', 4, 1056298, 3.7868101615263876e-06),
 ('NORTH DAKOTA', 3, 756927, 3.963394092164766e-06),
 ('ALASKA', 3, 738432, 4.0626625065002604e-06),
 ('DC', 3, 672228, 4.462771559649405e-06),
 ('VERMONT', 3, 626042, 4.792010759661493e-06),
 ('WYOMING', 3, 586107, 5.118519314732634e-06)]

In [13]:
%%sql
SELECT SUM(GrandElectors) From Combined_new;

 * sqlite://
Done.

[(538,)]

In [14]:
%%sql

SELECT
    t.State,t.GrandElectors,t.Population,t.Ratio,
    (SELECT Sum(r.GrandElectors) FROM Combined_new as r WHERE r.Ratio <= t.Ratio) AS Cummulative
FROM Combined_new as t

Group By t.Ratio;

 * sqlite://
Done.

[('TEXAS', 38, 27469114, 1.3833718845099992e-06, 38),
 ('CALIFORNIA', 55, 39144818, 1.4050391037710278e-06, 93),
 ('FLORIDA', 29, 20271272, 1.4305959685213637e-06, 122),
 ('NEW YORK', 29, 19795791, 1.4649578791774474e-06, 151),
 ('NORTH CAROLINA', 15, 10042802, 1.4936070630487388e-06, 166),
 ('OHIO', 18, 11613423, 1.5499306276883225e-06, 184),
 ('VIRGINIA', 13, 8382993, 1.5507587803067473e-06, 197),
 ('ILLINOIS', 20, 12859995, 1.5552105580134362e-06, 217),
 ('PENNSYLVANIA', 20, 12802503, 1.562194517743913e-06, 237),
 ('NEW JERSEY', 14, 8958013, 1.562846582160575e-06, 251),
 ('GEORGIA', 16, 10214860, 1.566345500574653e-06, 267),
 ('ARIZONA', 11, 6828065, 1.610998137832607e-06, 278),
 ('MICHIGAN', 16, 9922576, 1.6124844999927438e-06, 294),
 ('MASSACHUSETTS', 11, 6794422, 1.6189750945702225e-06, 305),
 ('MISSOURI', 10, 6083672, 1.6437441071773757e-06, 315),
 ('COLORADO', 9, 5456574, 1.6493865931260165e-06, 324),
 ('INDIANA', 11, 6619680, 1.6617117443743504e-06, 335),
 ('MARYLAND', 10, 6006401, 1.6648905059785385e-06, 345),
 ('TENNESSEE', 11, 6600299, 1.6665911650366142e-06, 356),
 ('WASHINGTON', 12, 7170351, 1.673558240035948e-06, 368),
 ('LOUISIANA', 8, 4670724, 1.712796560019389e-06, 376),
 ('WISCONSIN', 10, 5771337, 1.7327007589402595e-06, 386),
 ('OREGON', 7, 4028977, 1.7374137405103083e-06, 393),
 ('OKLAHOMA', 7, 3911338, 1.7896689061390246e-06, 400),
 ('KENTUCKY', 8, 4425092, 1.8078720171241637e-06, 408),
 ('MINNESOTA', 10, 5489594, 1.8216283389992047e-06, 418),
 ('SOUTH CAROLINA', 9, 4896146, 1.8381804790951905e-06, 427),
 ('ALABAMA', 9, 4858979, 1.8522409749043987e-06, 436),
 ('IOWA', 6, 3123899, 1.9206766928124116e-06, 442),
 ('CONNECTICUT', 7, 3590886, 1.949379623858847e-06, 449),
 ('UTAH', 6, 2995919, 2.0027243727216926e-06, 455),
 ('MISSISSIPPI', 6, 2992333, 2.00512442966742e-06, 461),
 ('ARKANSAS', 6, 2978204, 2.0146370094190997e-06, 467),
 ('KANSAS', 6, 2911641, 2.0606936088618066e-06, 473),
 ('NEVADA', 6, 2890845, 2.0755177119492743e-06, 479),
 ('NEW MEXICO', 5, 2085109, 2.3979561739937817e-06, 484),
 ('IDAHO', 4, 1654930, 2.417020659484087e-06, 488),
 ('NEBRASKA', 5, 1896190, 2.636866558730929e-06, 493),
 ('WEST VIRGINIA', 5, 1844128, 2.7113085425740512e-06, 498),
 ('HAWAII', 4, 1431603, 2.794070702562093e-06, 502),
 ('MONTANA', 3, 1032949, 2.904306020916812e-06, 505),
 ('NEW HAMPSHIRE', 4, 1330608, 3.0061445594795764e-06, 509),
 ('MAINE', 4, 1329328, 3.009039153617467e-06, 513),
 ('DELAWARE', 3, 945934, 3.1714686225466047e-06, 516),
 ('SOUTH DAKOTA', 3, 858469, 3.4945932817609025e-06, 519),
 ('RHODE ISLAND', 4, 1056298, 3.7868101615263876e-06, 523),
 ('NORTH DAKOTA', 3, 756927, 3.963394092164766e-06, 526),
 ('ALASKA', 3, 738432, 4.0626625065002604e-06, 529),
 ('DC', 3, 672228, 4.462771559649405e-06, 532),
 ('VERMONT', 3, 626042, 4.792010759661493e-06, 535),
 ('WYOMING', 3, 586107, 5.118519314732634e-06, 538)]